@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-pritom {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
  }
/* small css */
.display-flex{
    display: flex;
}

  /* header nav  */

.header{
    /* margin: 20px 100px; */
    padding: 50px;

}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 186; */
    font-weight: 700; 
    font-size: 32px;

}
.navbar img{
    width: 100px;
    
}
.nav-item {
    list-style: none;
    margin-right: 30px;
    
}

#li, #lii, #liii, #liiii {
    text-decoration: none;
    font-weight: 500;
}
#li{
color: rgb(254, 163, 1);
}
#lii{
    color: rgb(1, 172, 253);
}

#liii{
    color: rgb(5, 212, 223);
}

#liiii{
    color: rgb(93, 88, 239);
}
nav button {
    border: none;
    border-radius: 12px;
    background: rgb(254, 163, 1);
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    color: rgb(255, 255, 255);
    margin: 0 30px 0 0;
}
.three {
    font-size: 30px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
  }
ul{
    display: flex;
    list-style: none;
} 
.nav-item a{
    text-decoration: none;
    transition: color 0.3s;
}
  
.nav-item a:hover {
    color: rgb(243, 198, 0);
}
#ac {
    display: none;
}


  /* section 1   */



#op1 {
    margin: 20px 100px;
}
.op1{
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 20px;
}

#op1 h2{
    font-size: 56px;
    font-weight: 700;
    line-height: 61px;
    text-align: left;
}
#op1 p{
    font-size: 20px;
    font-weight: 400;
    line-height: 25px;
}

#op1 button{
    border: none;
    border-radius: 12px;
    background: rgb(17, 17, 17);
    padding: 10px 40px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: rgb(255, 255, 255);
    margin: 0 30px 0 0;
}
.card2 img{
    width: 100%;
    margin-top: -10%;
}





















/* Mobile size */
@media screen and (max-width: 576px) {
    .navh2,
    .Contact{
        display: none;
    }
    .three{
        display: block;
        order: 1;
        margin-right: 20px;
      }
    ul {
        position: fixed;
        top: 100px;
        right: -1000%;
        background-color: rgb(29, 27, 27);
        width: 20%;
        /* height: 100vh; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ;
    }
    ul li {
        margin: 20px 0;
        font-size: 20px;
    }
    
    #ac:checked ~ ul {
        right: 0;
    }
    
    #navboder{
        display: block;
        padding: 0%;
        border-bottom: 1.5px solid rgb(254, 163, 1);
    }
    #op1 {
        margin: 0;
        padding: 0;
    }
    .op1{
        margin-top: 20% ;
        display: flex;
        flex-direction: column-reverse;
        /* grid-template-columns: 1fr; */
        /* gap: 20px; */
    }
    #op1 h2 {
        text-align: center;
        font-size: 32px;
        font-weight: 700;
        line-height: 41px;
    }
    .card1{
        text-align: center;
        align-items: center;
        justify-content: center;
    }
    .card2{

    }
    #op1 img{
        width: 100%;
        
    }

}